<!-- Container for the book dialog -->
<div class="book-dialog-container col-12">
    <!-- Header for the book dialog (Shows "Update Book" if a book index exists, else "Add Book") -->
    <div class="book-dialog-header col-12">{{this.data.bookIndex != undefined ? 'Update Book' : 'Add Book'}}</div>
  
    <!-- Form for adding or updating a book with form validation -->
    <form class="book-dialog-form col-12" [formGroup]="form">
      <!-- Input field for Image URL -->
      <div class="book-dialog-group col-xl-12 form-group">
        <label for="imageUrl">Image URL</label>
        <input type="text" class="form-control" id="imageUrl" formControlName="imageUrl" placeholder="https://example.com/image.jpg">
        <small class="form-dialog-error" *ngIf="!form.get('imageUrl')?.valid && (form.get('imageUrl')?.touched || formSubmitTriggered)">Enter a valid URL.</small>
      </div>
  
      <!-- Input field for Book Title -->
      <div class="book-dialog-group col-xl-12 form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title" formControlName="title" placeholder="Title">
        <small class="form-dialog-error" *ngIf="!form.get('title')?.valid && (form.get('title')?.touched || formSubmitTriggered)">Enter a valid Title.</small>
      </div>
  
      <!-- Input field for Purchase Link URL -->
      <div class="book-dialog-group col-xl-12 form-group">
        <label for="purchaseLink">Purchase Link</label>
        <input type="text" class="form-control" id="purchaseLink" formControlName="purchaseLink" placeholder="https://example.com/purchase">
        <small class="form-dialog-error" *ngIf="!form.get('purchaseLink')?.valid && (form.get('purchaseLink')?.touched || formSubmitTriggered)">Enter a valid URL.</small>
      </div>
  
      <!-- Input field for Publish Date (Year) -->
      <div class="book-dialog-group col-xl-12 form-group">
        <label for="PublishDate">Publish Date</label>
        <input type="text" class="form-control" id="PublishDate" formControlName="PublishDate" placeholder="Year">
        <small class="form-dialog-error" *ngIf="!form.get('PublishDate')?.valid && (form.get('PublishDate')?.touched || formSubmitTriggered)">Enter a valid Publish Date.</small>
      </div>
    </form>
  
    <!-- Buttons for Save, Update, Delete, and Cancel actions -->
    <div class="book-dialog-buttons btn-group btn-group-toggle col-12" data-toggle="buttons">
      <!-- Save or Update button -->
      <label class="book-dialog-button btn" (click)="onFormSubmit(this.data.bookIndex != undefined ? userAction.Update : userAction.Save)">{{this.data.bookIndex != undefined ? 'Update' : 'Save'}}</label>
      
      <!-- Delete button (visible only when updating an existing book) -->
      <label class="book-dialog-button btn" *ngIf="this.data.bookIndex != undefined" (click)="onFormSubmit(userAction.Delete)">Delete</label>
      
      <!-- Cancel button -->
      <label class="book-dialog-button btn" (click)="onFormSubmit(userAction.Cancel)">Cancel</label>
    </div>
</div>  